.system-usage-card {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  max-height: none;

  .card-title {
    color: #ffffff;
  }

  .usage-section {
    .fw-semibold {
      color: #ffffff;
    }

    .apexcharts-canvas {
      width: 100% !important;
      height: 100% !important;
    }

    .text-secondary {
      color: #9b9b9b !important;
      font-size: 0.8rem;
    }

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block;

      &.dot-cpu {
        background-color: #00ffaa;
      }

      &.dot-ram {
        background-color: #007bff;
      }
    }
  }

  .apexcharts-grid line {
    stroke: gray;
  }
}
